 /* @keyframes changeColor{
  0%{background-color: red; width: 200px;}
  25%{background-color: green; }
  50%{background-color: yellow; width: 400px;}
  100%{background-color: blue; width: 200px;}
}  */

/* @keyframes move{
  0% {left: 0px;}
  100% {left: 300px;}
} */

/* .box{
  position: relative;
  width: 200px;
  height: 200px;
  border-style: solid;
  animation-name: changeColor;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation: changeColor 3s linear 0 infinite reverse forwards;
} */

/* .div1{
  animation-timing-function: linear;
}
.div2{
  animation-timing-function: ease;
}
.div3{
  animation-timing-function: ease-in;
}
.div4{
  animation-timing-function: ease-out;
}
.div5{
  animation-timing-function: ease-in-out;
} */

.btn{
  display: inline-block;
  padding: 20px;
  background: #428BCA;
  color: #fff;
  font-size: 18px;

  transition-property: background-color, padding;
  transition-duration: 500ms;
  transition-delay: 100ms;
  transition-timing-function: ease-in-out;
}

.btn:hover{
  background-color: #2248CA;
  padding-left: 30px;
  padding-right: 30px;
}